.BannerHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding: 1em;
  margin: 0 auto 2em auto;
  max-width: 1440px;

  .NavBar {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 24px;

    .pinkLogo {
      width: 210px;
      height: 70px;
    }
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .BannerHeader {
    margin: 0 auto 0.5em auto;
    .NavBar {
      font-size: 18px;
    }
  }
  .pinkLogo {
    width: 145px;
    height: 47px;
  }
}

@media (max-width: 480px) {
  .BannerHeader {
    padding: 0.5em;
    width: 100%;
    .NavBar {
      font-size: 14px;
      padding-right: 1.1em;
    }
  }
  .pinkLogo {
    width: 120px;
    height: 39px;
  }
}