@use 'keyframes';

.Card {
  border-radius: 15px;
  height: 340px;
  width: 340px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.CardCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CardTitle {
  position: absolute;
  left: 20px;
  bottom: 0;
  color: white;
  font-size: 18px;
  padding: 2px 15px 5px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  font-weight: 700;
  z-index: 2;
  border-radius: 5px 0 0 5px;
  animation: slideIn 800ms ease-in-out;
}

@media (max-width: 480px) {
  .Card {
    height: 255px;
    width: 335px;
  }
}